In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
whole_data=pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv")

In [4]:
mydata=whole_data.copy()

In [6]:
mydata=mydata[['location','new_cases','reproduction_rate','gdp_per_capita','population']].groupby('location').mean()

In [10]:
mydata=mydata.dropna()

In [15]:
top5=mydata[['gdp_per_capita','reproduction_rate']].sort_values(by='reproduction_rate',ascending=False).head()
bottom5=mydata[['gdp_per_capita','reproduction_rate']].sort_values(by='reproduction_rate',ascending=False).tail()

In [16]:
top5

             gdp_per_capita  reproduction_rate
location
Spain             34272.360           1.148272
Sweden            46949.283           1.143828
Belgium           42658.576           1.123140
Switzerland       57410.166           1.109535
Germany           45229.245           1.097541

In [17]:
bottom5

                 gdp_per_capita  reproduction_rate
location
Solomon Islands        2205.923           0.326058
Tuvalu                 3575.104           0.287069
Kiribati               1981.132           0.252522
Tanzania               2683.304           0.161758
Nauru                 12895.635           0.121122