In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
whole_data=pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv")

In [4]:
mydata=whole_data.copy()

In [6]:
mydata=mydata[['location','new_cases','reproduction_rate','gdp_per_capita','population']].groupby('location').mean()

In [10]:
mydata=mydata.dropna()

In [18]:
top5=mydata[['gdp_per_capita','reproduction_rate']].sort_values(by='reproduction_rate',ascending=False).head(20)
bottom5=mydata[['gdp_per_capita','reproduction_rate']].sort_values(by='reproduction_rate',ascending=False).tail(20)

In [19]:
top5

               gdp_per_capita  reproduction_rate
location
Spain               34272.360           1.148272
Sweden              46949.283           1.143828
Belgium             42658.576           1.123140
Switzerland         57410.166           1.109535
Germany             45229.245           1.097541
Australia           44648.710           1.095496
Brazil              14103.452           1.090556
France              38605.671           1.089017
Peru                12236.706           1.081009
United States       54225.446           1.080938
Bolivia              6885.829           1.080159
Hungary             26777.561           1.079813
Luxembourg          94277.965           1.077738
Japan               39002.223           1.077189
South Korea         35938.374           1.072646
World               15469.207           1.070158
Netherlands         48472.545           1.069719
Italy               35220.084           1.068285
Austria             45436.686           1.063920
Guatemala            7423.808           1.062969

In [20]:
bottom5

                          gdp_per_capita  reproduction_rate
location
Lesotho                         2851.153           0.562657
Sao Tome and Principe           3052.714           0.560525
Grenada                        13593.877           0.557214
Gambia                          1561.767           0.555368
Mauritius                      20292.745           0.548276
Liberia                          752.788           0.535868
Tonga                           5425.621           0.507895
Cameroon                        3364.926           0.487671
Benin                           2064.236           0.483072
Micronesia (country)            3299.464           0.461890
Congo                           4881.406           0.453357
Dominica                        9673.367           0.424380
Tajikistan                      2896.913           0.382477
Marshall Islands                3819.202           0.377740
Central African Republic         661.240           0.370671
Solomon Islands                 2205.923           0.326058
Tuvalu                          3575.104           0.287069
Kiribati                        1981.132           0.252522
Tanzania                        2683.304           0.161758
Nauru                          12895.635           0.121122

In [22]:
pd.concat([top5,bottom5]).to_csv('gdp_vs_virus_spread.csv')