In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
whole_data=pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv")

In [3]:
mydata=whole_data.copy()

In [7]:
mydata[['location','new_cases','reproduction_rate','gdp_per_capita','population']].groupby('location').mean()

                    new_cases  reproduction_rate  gdp_per_capita    population
location
Afghanistan        180.685936           1.048525        1803.987  4.112877e+07
Africa           11254.318103                NaN             NaN  1.426737e+09
Albania            287.527586           1.028571       11803.431  2.842318e+06
Algeria            234.019828           1.003451       13913.839  4.490323e+07
American Samoa       7.172414                NaN             NaN  4.429500e+04
...                       ...                ...             ...           ...
Western Sahara            NaN                NaN             NaN  5.760050e+05
World           654683.505172           1.070158       15469.207  7.975105e+09
Yemen               10.297414           0.701424        1479.147  3.369661e+07
Zambia             295.650000           0.929969        3689.251  2.001767e+07
Zimbabwe           227.695690           0.977674        1899.775  1.632054e+07

[255 rows x 4 columns]

In [1]:
mydata

NameError: name 'mydata' is not defined