In [23]:
import pandas as pd
import numpy as np
import seaborn as sns
whole_data=pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv")

In [24]:
mydata=whole_data.copy()

In [25]:
mydata.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [26]:
sub=mydata[['total_deaths','location']]
sub=sub.dropna()
sub=sub.sort_values(by='total_deaths',ascending=False)

In [27]:
sub=sub[~sub['location'].isin(['World' ,'High income','Upper middle income'])]

In [28]:

america= sub.loc[sub['location'].str.contains("america", case=False)]
america

        total_deaths        location
188768     1583415.0   North America
188767     1583415.0   North America
188766     1583412.0   North America
188765     1583402.0   North America
188764     1581054.0   North America
...              ...             ...
5453             1.0  American Samoa
5452             1.0  American Samoa
243960           1.0   South America
187666           1.0   North America
187667           1.0   North America

[2549 rows x 2 columns]

In [29]:
america.groupby('location').mean()

                 total_deaths
location
American Samoa      30.867816
North America   945422.034451
South America   867693.989071

In [39]:
coastal=sub[sub['location'].isin(['Singapore','American Samoa','Palau','New Zealand'])].groupby('location').mean()

In [40]:
# coastal.to_csv('coastal_deaths.csv')