In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
whole_data=pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv")

In [4]:
mydata=whole_data.copy()

In [13]:
stringency=mydata[['date','location','stringency_index','tests_per_case','new_deaths','new_cases','hospital_beds_per_thousand','positive_rate','population_density']]
stringency['date']=pd.to_datetime(stringency['date'], format="%Y/%m/%d")
stringency

C:\Users\Jagatheesh\AppData\Local\Temp\ipykernel_16800\3208010474.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stringency['date']=pd.to_datetime(stringency['date'], format="%Y/%m/%d")

,date,location,stringency_index,tests_per_case,new_deaths,new_cases,hospital_beds_per_thousand,positive_rate,population_density
0,2020-01-03,Afghanistan,NaN,NaN,0.0,0.0,0.5,NaN,54.422
1,2020-01-04,Afghanistan,NaN,NaN,0.0,0.0,0.5,NaN,54.422
2,2020-01-05,Afghanistan,NaN,NaN,0.0,0.0,0.5,NaN,54.422
3,2020-01-06,Afghanistan,NaN,NaN,0.0,0.0,0.5,NaN,54.422
4,2020-01-07,Afghanistan,NaN,NaN,0.0,0.0,0.5,NaN,54.422
...,...,...,...,...,...,...,...,...,...
293588,2023-03-03,Zimbabwe,NaN,NaN,0.0,0.0,1.7,NaN,42.729
293589,2023-03-04,Zimbabwe,NaN,NaN,0.0,0.0,1.7,NaN,42.729
293590,2023-03-05,Zimbabwe,NaN,NaN,0.0,0.0,1.7,NaN,42.729
293591,2023-03-06,Zimbabwe,NaN,NaN,0.0,0.0,1.7,NaN,42.729
293592,2023-03-07,Zimbabwe,NaN,NaN,0.0,0.0,1.7,NaN,42.729

In [14]:
stringency['year']=stringency['date'].dt.strftime('%Y')

C:\Users\Jagatheesh\AppData\Local\Temp\ipykernel_16800\919155868.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stringency['year']=stringency['date'].dt.strftime('%Y')

In [21]:
stringency=stringency[stringency['year'].isin(["2020","2021"])]

In [22]:
stringency=mydata[['location','stringency_index','tests_per_case','new_deaths','new_cases','hospital_beds_per_thousand','positive_rate','population_density']].groupby(['location']).mean()
stringency=stringency.sort_values(by='stringency_index',ascending=False)
stringency['index']=[x for x in range(0,len(stringency))]
stringency['Country']=stringency.index
stringency=stringency.set_index('index')
stringency=stringency[stringency['Country'].isin(['Singapore','South Korea','India'])]
stringency=stringency.reset_index(drop=True)
stringency

,stringency_index,tests_per_case,new_deaths,new_cases,hospital_beds_per_thousand,positive_rate,population_density,Country
0,58.995581,59.487500,457.564655,38624.996543,0.53,0.048318,450.419,India
1,44.180065,13.944595,1.510785,1922.905172,2.40,0.105390,7915.731,Singapore
2,41.571433,117.800939,29.352586,26363.361207,12.27,0.060693,527.967,South Korea

In [23]:
stringency.to_csv('../DataSet/Countriestacklingcovid.csv')