In [6]:
import pandas as pd

In [7]:
full_data=pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv")

In [17]:
total=full_data.copy()
total=total.fillna(0)
total=total[['total_cases','location']].groupby(['location']).mean()
total['location']=list(total.index)
total['index']=[x for x in range(0,len(total))]
total=total.set_index('index')
total
# total.to_csv('../DataSet/total_pie.csv')

        total_cases        location
index
0      1.111749e+05     Afghanistan
1      6.768489e+06          Africa
2      1.586204e+05         Albania
3      1.568325e+05         Algeria
4      2.244806e+03  American Samoa
...             ...             ...
250    0.000000e+00  Western Sahara
251    2.745412e+08           World
252    6.764317e+03           Yemen
253    1.680200e+05          Zambia
254    1.204341e+05        Zimbabwe

[255 rows x 2 columns]

In [20]:
cont=full_data[['continent','location']]
cont=cont.drop_duplicates()
cont.dropna()

       continent           location
0           Asia        Afghanistan
2330      Europe            Albania
3490      Africa            Algeria
4650     Oceania     American Samoa
5810      Europe            Andorra
...          ...                ...
287996   Oceania  Wallis and Futuna
289156    Africa     Western Sahara
290324      Asia              Yemen
291484    Africa             Zambia
292644    Africa           Zimbabwe

[243 rows x 2 columns]

In [24]:
cont=cont.fillna('null')
cont['continent'].unique()

array(['Asia', 'null', 'Europe', 'Africa', 'Oceania', 'North America',
       'South America'], dtype=object)

In [34]:
total=total[~total['location'].isin(['Asia', 'null', 'Europe', 'Africa', 'Oceania', 'North America','South America'])]

In [33]:
cont=cont[~cont['location'].isin(['Asia', 'null', 'Europe', 'Africa', 'Oceania', 'North America','South America'])]
cont=cont.reset_index(drop=True)
cont=cont[cont['continent']!='null']
cont

    continent           location
0        Asia        Afghanistan
1      Europe            Albania
2      Africa            Algeria
3     Oceania     American Samoa
4      Europe            Andorra
..        ...                ...
243   Oceania  Wallis and Futuna
244    Africa     Western Sahara
246      Asia              Yemen
247    Africa             Zambia
248    Africa           Zimbabwe

[243 rows x 2 columns]

In [47]:

# cont=cont.sort_values(by='continent')
mylist=cont.groupby('continent')['location'].agg(','.join)

pandas.core.series.Series

In [49]:
total

        total_cases        location
index
0      1.111749e+05     Afghanistan
2      1.586204e+05         Albania
3      1.568325e+05         Algeria
4      2.244806e+03  American Samoa
5      2.104808e+04         Andorra
...             ...             ...
250    0.000000e+00  Western Sahara
251    2.745412e+08           World
252    6.764317e+03           Yemen
253    1.680200e+05          Zambia
254    1.204341e+05        Zimbabwe

[249 rows x 2 columns]

In [57]:
Asia={}
for i in mylist['Asia'].split(','):
    Asia[i]=total[total['location']==i]['total_cases'].values[0]

In [59]:
Africa={}
for i in mylist['Africa'].split(','):
    Africa[i]=total[total['location']==i]['total_cases'].values[0]

In [61]:
Europe={}
for i in mylist['Europe'].split(','):
    Europe[i]=total[total['location']==i]['total_cases'].values[0]

In [65]:
North_America ={}
for i in mylist['North America'].split(','):
    North_America[i]=total[total['location']==i]['total_cases'].values[0]

In [67]:
South_America ={}
for i in mylist['South America'].split(','):
    South_America[i]=total[total['location']==i]['total_cases'].values[0]

In [69]:
Oceania ={}
for i in mylist['Oceania'].split(','):
    Oceania[i]=total[total['location']==i]['total_cases'].values[0]

In [74]:
# Oceania
oceania_df=pd.DataFrame({'Country':list(Oceania.keys()),'total_cases':list(Oceania.values())})
asia_df=pd.DataFrame({'Country':list(Asia.keys()),'total_cases':list(Asia.values())})
europe_df=pd.DataFrame({'Country':list(Europe.keys()),'total_cases':list(Europe.values())})
northamerica_df=pd.DataFrame({'Country':list(North_America.keys()),'total_cases':list(North_America.values())})
southamerica_df=pd.DataFrame({'Country':list(South_America.keys()),'total_cases':list(South_America.values())})
africa_df=pd.DataFrame({'Country':list(Africa.keys()),'total_cases':list(Africa.values())})

In [75]:
oceania_df.to_csv('oceania.csv')
asia_df.to_csv('asia.csv')
europe_df.to_csv('europe.csv')
northamerica_df.to_csv('northamerica.csv')
southamerica_df.to_csv('southamerica.csv')
africa_df.to_csv('africa.csv')

In [44]:
continent_list
for i in cont.groupby('continent')['location'].agg(','.join):
    print(i)
    print('*'*20)

Zimbabwe,Equatorial Guinea,Morocco,Egypt,Mozambique,Namibia,Djibouti,Eritrea,Democratic Republic of Congo,Nigeria,Congo,Comoros,Reunion,Chad,Central African Republic,Niger,Mayotte,Eswatini,Ethiopia,Guinea-Bissau,Guinea,Kenya,Lesotho,Liberia,Libya,Ghana,Zambia,Gambia,Gabon,Madagascar,Malawi,Mali,Mauritania,Mauritius,Rwanda,Cape Verde,Cote d'Ivoire,Cameroon,Tanzania,Uganda,Saint Helena,Sudan,Angola,Benin,South Sudan,South Africa,Somalia,Tunisia,Botswana,Sierra Leone,Togo,Algeria,Sao Tome and Principe,Seychelles,Burundi,Burkina Faso,Senegal,Western Sahara
********************
Kuwait,Turkey,Turkmenistan,Macao,United Arab Emirates,Iraq,Israel,Japan,Vietnam,Lebanon,Jordan,Kazakhstan,Kyrgyzstan,Yemen,Uzbekistan,Laos,Taiwan,Maldives,Saudi Arabia,Qatar,Philippines,Palestine,Pakistan,Iran,Oman,Northern Cyprus,North Korea,Singapore,Nepal,Myanmar,South Korea,Mongolia,Sri Lanka,Syria,Tajikistan,Thailand,Timor,Malaysia,Indonesia,Afghanistan,Bahrain,Cambodia,Bhutan,China,Bangladesh,Georgia,Azerbaijan,India,Brunei,Hong Kong,Armenia
********************
Croatia,Norway,Northern Ireland,Poland,Portugal,North Macedonia,Romania,Russia,Cyprus,San Marino,Czechia,Bulgaria,Iceland,Bosnia and Herzegovina,Serbia,Albania,Wales,Andorra,Vatican,United Kingdom,Ukraine,Austria,Belarus,Switzerland,Sweden,Belgium,Spain,Slovenia,Slovakia,Netherlands,Scotland,Denmark,Lithuania,Liechtenstein,Germany,Gibraltar,Greece,Finland,Malta,Latvia,Kosovo,Guernsey,Luxembourg,Faeroe Islands,Estonia,Jersey,France,Hungary,Moldova,Monaco,Ireland,Isle of Man,Italy,Montenegro,England
********************
Honduras,Montserrat,British Virgin Islands,Sint Maarten (Dutch part),Greenland,Bonaire Sint Eustatius and Saba,Grenada,Bermuda,Belize,Guadeloupe,Guatemala,Anguilla,Barbados,United States Virgin Islands,Bahamas,United States,Trinidad and Tobago,Aruba,Jamaica,Turks and Caicos Islands,Antigua and Barbuda,Haiti,El Salvador,Saint Vincent and the Grenadines,Nicaragua,Martinique,Cuba,Puerto Rico,Costa Rica,Mexico,Dominica,Saint Barthelemy,Cayman Islands,Dominican Republic,Saint Kitts and Nevis,Saint Lucia,Saint Martin (French part),Saint Pierre and Miquelon,Panama,Canada,Curacao
********************
Tuvalu,Northern Mariana Islands,Australia,New Caledonia,Niue,New Zealand,Vanuatu,Nauru,Wallis and Futuna,American Samoa,Micronesia (country),Tonga,Cook Islands,Palau,French Polynesia,Fiji,Solomon Islands,Tokelau,Guam,Marshall Islands,Pitcairn,Papua New Guinea,Samoa,Kiribati
********************
Ecuador,French Guiana,Guyana,Brazil,Venezuela,Argentina,Bolivia,Uruguay,Falkland Islands,Colombia,Suriname,Paraguay,Peru,Chile
********************

In [78]:
africa_df_sum=sum(africa_df['total_cases'].values)
europe_df_sum=sum(europe_df['total_cases'].values)
northamerica_df_sum=sum(northamerica_df['total_cases'].values)
southamerica_df_sum=sum(southamerica_df['total_cases'].values)
oceania_df_sum=sum(oceania_df['total_cases'].values)
asia_df_sum=sum(asia_df['total_cases'].values)

In [83]:
# africa_df['percent']=africa_df['total_cases']/africa_df_sum * 100
africa_df.sort_values(by='total_cases',ascending=False)

                         Country   total_cases    percent
45                  South Africa  2.242166e+06  32.984573
2                        Morocco  6.888963e+05  10.134376
47                       Tunisia  5.529539e+05   8.134523
3                          Egypt  2.869439e+05   4.221241
18                      Ethiopia  2.756546e+05   4.055164
24                         Libya  2.649832e+05   3.898176
21                         Kenya  1.899007e+05   2.793636
26                        Zambia  1.680200e+05   2.471748
12                       Reunion  1.623323e+05   2.388075
9                        Nigeria  1.616575e+05   2.378149
51                       Algeria  1.568325e+05   2.307168
48                      Botswana  1.488565e+05   2.189833
0                       Zimbabwe  1.204341e+05   1.771709
4                     Mozambique  1.174176e+05   1.727335
25                         Ghana  1.015924e+05   1.494529
33                     Mauritius  9.303218e+04   1.368599
5                        Namibia  8.979364e+04   1.320957
39                        Uganda  8.908446e+04   1.310524
37                      Cameroon  7.223354e+04   1.062630
34                        Rwanda  6.664432e+04   0.980407
42                        Angola  5.153947e+04   0.758199
56                       Senegal  5.121002e+04   0.753352
36                 Cote d'Ivoire  4.981230e+04   0.732790
8   Democratic Republic of Congo  4.899387e+04   0.720750
30                        Malawi  4.689425e+04   0.689863
29                    Madagascar  3.796173e+04   0.558456
41                         Sudan  3.698664e+04   0.544112
17                      Eswatini  3.686110e+04   0.542265
35                    Cape Verde  3.220515e+04   0.473771
32                    Mauritania  3.200374e+04   0.470808
28                         Gabon  2.711074e+04   0.398827
20                        Guinea  2.329977e+04   0.342764
53                    Seychelles  2.090013e+04   0.307462
16                       Mayotte  2.088094e+04   0.307180
54                       Burundi  1.999092e+04   0.294087
50                          Togo  1.950460e+04   0.286933
38                      Tanzania  1.750666e+04   0.257541
22                       Lesotho  1.728359e+04   0.254260
31                          Mali  1.651996e+04   0.243026
46                       Somalia  1.532568e+04   0.225457
43                         Benin  1.452948e+04   0.213744
10                         Congo  1.391529e+04   0.204708
55                  Burkina Faso  1.253116e+04   0.184346
44                   South Sudan  1.030799e+04   0.151641
6                       Djibouti  1.011522e+04   0.148805
1              Equatorial Guinea  9.894841e+03   0.145563
14      Central African Republic  9.495041e+03   0.139682
27                        Gambia  7.262817e+03   0.106844
15                         Niger  5.424036e+03   0.079793
7                        Eritrea  5.349284e+03   0.078693
19                 Guinea-Bissau  4.981173e+03   0.073278
49                  Sierra Leone  4.860491e+03   0.071503
13                          Chad  4.469910e+03   0.065757
11                       Comoros  4.390067e+03   0.064582
23                       Liberia  4.348973e+03   0.063978
52         Sao Tome and Principe  3.220047e+03   0.047370
40                  Saint Helena  3.028569e+02   0.004455
57                Western Sahara  0.000000e+00   0.000000