In [1]:
import pandas as pd

In [2]:
full_data=pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv")

In [3]:
total=full_data.copy()
total=total.fillna(0)
total=total[['total_cases','location']].groupby(['location']).mean()
total['location']=list(total.index)
total['index']=[x for x in range(0,len(total))]
total=total.set_index('index')
total
# total.to_csv('../DataSet/total_pie.csv')

        total_cases        location
index
0      1.123243e+05     Afghanistan
1      6.840584e+06          Africa
2      1.598191e+05         Albania
3      1.576180e+05         Algeria
4      2.286417e+03  American Samoa
...             ...             ...
250    0.000000e+00  Western Sahara
251    2.795134e+08           World
252    6.799801e+03           Yemen
253    1.692201e+05          Zambia
254    1.214206e+05        Zimbabwe

[255 rows x 2 columns]

In [4]:
cont=full_data[['continent','location']]
cont=cont.drop_duplicates()
cont.dropna()

       continent           location
0           Asia        Afghanistan
2336      Europe            Albania
3504      Africa            Algeria
4672     Oceania     American Samoa
5840      Europe            Andorra
...          ...                ...
289570   Oceania  Wallis and Futuna
290738    Africa     Western Sahara
291907      Asia              Yemen
293075    Africa             Zambia
294243    Africa           Zimbabwe

[243 rows x 2 columns]

In [5]:
cont=cont.fillna('null')
cont['continent'].unique()

array(['Asia', 'null', 'Europe', 'Africa', 'Oceania', 'North America',
       'South America'], dtype=object)

In [6]:
total=total[~total['location'].isin(['Asia', 'null', 'Europe', 'Africa', 'Oceania', 'North America','South America'])]

In [7]:
cont=cont[~cont['location'].isin(['Asia', 'null', 'Europe', 'Africa', 'Oceania', 'North America','South America'])]
cont=cont.reset_index(drop=True)
cont=cont[cont['continent']!='null']
cont

    continent           location
0        Asia        Afghanistan
1      Europe            Albania
2      Africa            Algeria
3     Oceania     American Samoa
4      Europe            Andorra
..        ...                ...
243   Oceania  Wallis and Futuna
244    Africa     Western Sahara
246      Asia              Yemen
247    Africa             Zambia
248    Africa           Zimbabwe

[243 rows x 2 columns]

In [8]:

# cont=cont.sort_values(by='continent')
mylist=cont.groupby('continent')['location'].agg(','.join)

In [9]:
total[total['location']=='World']['total_cases'].values[0]

279513385.58818495

In [10]:
Asia={}
for i in mylist['Asia'].split(','):
    Asia[i]=total[total['location']==i]['total_cases'].values[0]

In [11]:
Africa={}
for i in mylist['Africa'].split(','):
    Africa[i]=total[total['location']==i]['total_cases'].values[0]

In [12]:
Europe={}
for i in mylist['Europe'].split(','):
    Europe[i]=total[total['location']==i]['total_cases'].values[0]

In [13]:
North_America ={}
for i in mylist['North America'].split(','):
    North_America[i]=total[total['location']==i]['total_cases'].values[0]

In [14]:
South_America ={}
for i in mylist['South America'].split(','):
    South_America[i]=total[total['location']==i]['total_cases'].values[0]

In [15]:
Oceania ={}
for i in mylist['Oceania'].split(','):
    Oceania[i]=total[total['location']==i]['total_cases'].values[0]

In [19]:
# Oceania
oceania_df=pd.DataFrame({'Country':list(Oceania.keys()),'total_cases':list(Oceania.values())})
asia_df=pd.DataFrame({'Country':list(Asia.keys()),'total_cases':list(Asia.values())})
europe_df=pd.DataFrame({'Country':list(Europe.keys()),'total_cases':list(Europe.values())})
northamerica_df=pd.DataFrame({'Country':list(North_America.keys()),'total_cases':list(North_America.values())})
southamerica_df=pd.DataFrame({'Country':list(South_America.keys()),'total_cases':list(South_America.values())})
africa_df=pd.DataFrame({'Country':list(Africa.keys()),'total_cases':list(Africa.values())})

In [20]:
oceania_df=oceania_df.sort_values(by='total_cases',ascending=False)
asia_df=asia_df.sort_values(by='total_cases',ascending=False)
europe_df=europe_df.sort_values(by='total_cases',ascending=False)
northamerica_df=northamerica_df.sort_values(by='total_cases',ascending=False)
southamerica_df=southamerica_df.sort_values(by='total_cases',ascending=False)
africa_df=africa_df.sort_values(by='total_cases',ascending=False)

In [21]:
oceania_df.to_csv('oceania.csv')
asia_df.to_csv('asia.csv')
europe_df.to_csv('europe.csv')
northamerica_df.to_csv('northamerica.csv')
southamerica_df.to_csv('southamerica.csv')
africa_df.to_csv('africa.csv')

In [44]:
continent_list
for i in cont.groupby('continent')['location'].agg(','.join):
    print(i)
    print('*'*20)

Zimbabwe,Equatorial Guinea,Morocco,Egypt,Mozambique,Namibia,Djibouti,Eritrea,Democratic Republic of Congo,Nigeria,Congo,Comoros,Reunion,Chad,Central African Republic,Niger,Mayotte,Eswatini,Ethiopia,Guinea-Bissau,Guinea,Kenya,Lesotho,Liberia,Libya,Ghana,Zambia,Gambia,Gabon,Madagascar,Malawi,Mali,Mauritania,Mauritius,Rwanda,Cape Verde,Cote d'Ivoire,Cameroon,Tanzania,Uganda,Saint Helena,Sudan,Angola,Benin,South Sudan,South Africa,Somalia,Tunisia,Botswana,Sierra Leone,Togo,Algeria,Sao Tome and Principe,Seychelles,Burundi,Burkina Faso,Senegal,Western Sahara
********************
Kuwait,Turkey,Turkmenistan,Macao,United Arab Emirates,Iraq,Israel,Japan,Vietnam,Lebanon,Jordan,Kazakhstan,Kyrgyzstan,Yemen,Uzbekistan,Laos,Taiwan,Maldives,Saudi Arabia,Qatar,Philippines,Palestine,Pakistan,Iran,Oman,Northern Cyprus,North Korea,Singapore,Nepal,Myanmar,South Korea,Mongolia,Sri Lanka,Syria,Tajikistan,Thailand,Timor,Malaysia,Indonesia,Afghanistan,Bahrain,Cambodia,Bhutan,China,Bangladesh,Georgia,Azerbaijan,India,Brunei,Hong Kong,Armenia
********************
Croatia,Norway,Northern Ireland,Poland,Portugal,North Macedonia,Romania,Russia,Cyprus,San Marino,Czechia,Bulgaria,Iceland,Bosnia and Herzegovina,Serbia,Albania,Wales,Andorra,Vatican,United Kingdom,Ukraine,Austria,Belarus,Switzerland,Sweden,Belgium,Spain,Slovenia,Slovakia,Netherlands,Scotland,Denmark,Lithuania,Liechtenstein,Germany,Gibraltar,Greece,Finland,Malta,Latvia,Kosovo,Guernsey,Luxembourg,Faeroe Islands,Estonia,Jersey,France,Hungary,Moldova,Monaco,Ireland,Isle of Man,Italy,Montenegro,England
********************
Honduras,Montserrat,British Virgin Islands,Sint Maarten (Dutch part),Greenland,Bonaire Sint Eustatius and Saba,Grenada,Bermuda,Belize,Guadeloupe,Guatemala,Anguilla,Barbados,United States Virgin Islands,Bahamas,United States,Trinidad and Tobago,Aruba,Jamaica,Turks and Caicos Islands,Antigua and Barbuda,Haiti,El Salvador,Saint Vincent and the Grenadines,Nicaragua,Martinique,Cuba,Puerto Rico,Costa Rica,Mexico,Dominica,Saint Barthelemy,Cayman Islands,Dominican Republic,Saint Kitts and Nevis,Saint Lucia,Saint Martin (French part),Saint Pierre and Miquelon,Panama,Canada,Curacao
********************
Tuvalu,Northern Mariana Islands,Australia,New Caledonia,Niue,New Zealand,Vanuatu,Nauru,Wallis and Futuna,American Samoa,Micronesia (country),Tonga,Cook Islands,Palau,French Polynesia,Fiji,Solomon Islands,Tokelau,Guam,Marshall Islands,Pitcairn,Papua New Guinea,Samoa,Kiribati
********************
Ecuador,French Guiana,Guyana,Brazil,Venezuela,Argentina,Bolivia,Uruguay,Falkland Islands,Colombia,Suriname,Paraguay,Peru,Chile
********************

In [78]:
africa_df_sum=sum(africa_df['total_cases'].values)
europe_df_sum=sum(europe_df['total_cases'].values)
northamerica_df_sum=sum(northamerica_df['total_cases'].values)
southamerica_df_sum=sum(southamerica_df['total_cases'].values)
oceania_df_sum=sum(oceania_df['total_cases'].values)
asia_df_sum=sum(asia_df['total_cases'].values)

In [85]:
# africa_df['percent']=africa_df['total_cases']/africa_df_sum * 100

europe_df['percent']=europe_df['total_cases']/europe_df_sum * 100

northamerica_df['percent']=northamerica_df['total_cases']/northamerica_df_sum * 100

southamerica_df['percent']=southamerica_df['total_cases']/southamerica_df_sum * 100

oceania_df['percent']=oceania_df['total_cases']/oceania_df_sum * 100

asia_df['percent']=asia_df['total_cases']/asia_df_sum * 100

In [1]:
asia_df

NameError: name 'asia_df' is not defined