In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/cases_deaths/total_cases.csv")

In [3]:
df.isnull().sum()

date                   0
World                  1
Afghanistan           52
Africa                42
Albania               66
                    ...
Vietnam               22
Wallis and Futuna    290
Yemen                 98
Zambia                76
Zimbabwe              78
Length: 247, dtype: int64

In [11]:
data=df.copy()
data=data.fillna(0)
data

,date,World,Afghanistan,Africa,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,...,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Wallis and Futuna,Yemen,Zambia,Zimbabwe
0,2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020-01-04,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-01-05,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-01-06,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020-01-07,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1155,2023-03-03,758875884.0,209359.0,13053764.0,333518.0,271463.0,8320.0,47890.0,105277.0,3904.0,...,1034303.0,251152.0,12014.0,26.0,551986.0,11526937.0,3427.0,11945.0,342954.0,264127.0
1156,2023-03-04,759190566.0,209366.0,13053776.0,333532.0,271463.0,8320.0,47890.0,105277.0,3904.0,...,1034303.0,251176.0,12014.0,26.0,552014.0,11526950.0,3427.0,11945.0,342954.0,264127.0
1157,2023-03-05,759289048.0,209369.0,13053846.0,333532.0,271463.0,8320.0,47890.0,105277.0,3904.0,...,1034303.0,251202.0,12014.0,26.0,552034.0,11526962.0,3427.0,11945.0,342954.0,264127.0
1158,2023-03-06,759349551.0,209394.0,13053847.0,333532.0,271463.0,8320.0,47890.0,105277.0,3904.0,...,1034303.0,251229.0,12014.0,26.0,552051.0,11526966.0,3427.0,11945.0,342954.0,264127.0
1159,2023-03-07,759407939.0,209414.0,13053883.0,333532.0,271463.0,8320.0,47890.0,105277.0,3904.0,...,1034303.0,251247.0,12014.0,26.0,552125.0,11526966.0,3427.0,11945.0,342954.0,264127.0

In [13]:
data[['date','World']].to_csv('World_Cases_daily.csv')