In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [22]:
whole_data=pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv")
vaccine_company=pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/locations.csv")
full_data=pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv")

In [3]:
whole_data=whole_data[['date','location','daily_people_vaccinated','total_boosters']]

full_data=full_data[['date','location','reproduction_rate','total_cases']]

In [4]:
full_data['date']=pd.to_datetime(full_data['date'], format="%Y/%m/%d")
whole_data['date']=pd.to_datetime(whole_data['date'], format="%Y/%m/%d")

In [17]:
mydata=full_data.merge(whole_data, how='inner', on='date')

In [21]:
mydata['year']=mydata['date'].dt.strftime('%Y')

In [19]:
mydata=mydata[['date','location_x','daily_people_vaccinated','total_boosters','reproduction_rate','total_cases','year']]

In [22]:
mydata=mydata[mydata['year'].isin(['2021','2022','2023'])]
mydata

,date,location_x,daily_people_vaccinated,total_boosters,reproduction_rate,total_cases,year
127512,2021-01-01,Afghanistan,7677.0,1.000000e+00,0.86,52513.0,2021
127513,2021-01-01,Afghanistan,118555.0,NaN,0.86,52513.0,2021
127514,2021-01-01,Afghanistan,1258.0,NaN,0.86,52513.0,2021
127515,2021-01-01,Afghanistan,403.0,NaN,0.86,52513.0,2021
127516,2021-01-01,Afghanistan,160.0,NaN,0.86,52513.0,2021
...,...,...,...,...,...,...,...
40401860,2023-03-12,World,28658.0,2.014403e+07,NaN,NaN,2023
40401861,2023-03-12,World,106.0,NaN,NaN,NaN,2023
40401862,2023-03-12,World,392.0,2.475785e+07,NaN,NaN,2023
40401863,2023-03-12,World,NaN,1.255552e+09,NaN,NaN,2023
40401864,2023-03-12,World,NaN,2.744191e+09,NaN,NaN,2023

In [ ]:
mydata=mydata[['location_x','daily_people_vaccinated','total_boosters','reproduction_rate','total_cases']].groupby('location_x').mean()

In [23]:
vaccine_company['vaccine_list']=vaccine_company['vaccines'].apply(lambda x: x.split(','))

In [24]:
vaccine_set = [item for sublist in list(vaccine_company['vaccine_list'].values) for item in sublist]

# list(set(vaccine_set))

In [27]:
list(set([x.strip() for x in vaccine_set]))

['Novavax',
 'Sinovac',
 'Valneva',
 'Sputnik Light',
 'EpiVacCorona',
 'Sputnik V',
 'IMBCAMS',
 'CanSino',
 'Sinopharm/Beijing',
 'Soberana Plus',
 'Corbevax',
 'Sinopharm/Wuhan',
 'Oxford/AstraZeneca',
 'Soberana02',
 'KoviVac/Chumakov',
 'Turkovac',
 'Moderna',
 'Sanofi/GSK',
 'Johnson&Johnson',
 'Pfizer/BioNTech',
 'ZF2001',
 'Abdala',
 'Medigen',
 'QazVac',
 'Covaxin',
 'KCONVAC',
 'COVIran Barekat',
 'Medicago']