In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
whole_data=pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv")
vaccine_company=pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/locations.csv")
full_data=pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv")

In [3]:
whole_data=whole_data[['date','location','daily_people_vaccinated','total_boosters']]

full_data=full_data[['date','location','reproduction_rate','new_cases']]

In [4]:
full_data['date']=pd.to_datetime(full_data['date'], format="%Y/%m/%d")
whole_data['date']=pd.to_datetime(whole_data['date'], format="%Y/%m/%d")

In [5]:
mydata=full_data.merge(whole_data, how='inner', on='date')

In [6]:
mydata['year']=mydata['date'].dt.strftime('%Y')

In [7]:
mydata=mydata[['date','location_x','daily_people_vaccinated','total_boosters','reproduction_rate','new_cases','year']]

In [8]:
mydata=mydata[mydata['year'].isin(['2021','2022','2023'])]
mydata

,date,location_x,daily_people_vaccinated,total_boosters,reproduction_rate,new_cases,year
127512,2021-01-01,Afghanistan,7677.0,1.000000e+00,0.86,183.0,2021
127513,2021-01-01,Afghanistan,118555.0,NaN,0.86,183.0,2021
127514,2021-01-01,Afghanistan,1258.0,NaN,0.86,183.0,2021
127515,2021-01-01,Afghanistan,403.0,NaN,0.86,183.0,2021
127516,2021-01-01,Afghanistan,160.0,NaN,0.86,183.0,2021
...,...,...,...,...,...,...,...
40484101,2023-03-13,World,103.0,NaN,NaN,NaN,2023
40484102,2023-03-13,World,390.0,2.477560e+07,NaN,NaN,2023
40484103,2023-03-13,World,NaN,1.255595e+09,NaN,NaN,2023
40484104,2023-03-13,World,5.0,3.043996e+06,NaN,NaN,2023
40484105,2023-03-13,World,NaN,2.744327e+09,NaN,NaN,2023

In [9]:
mydata=mydata[['location_x','daily_people_vaccinated','total_boosters','reproduction_rate','new_cases']].groupby('location_x').mean()

In [10]:
mydata['index']=[i for i in range(0,len(mydata))]
mydata['location']=list(mydata.index)
mydata=mydata.set_index('index')

In [18]:
mydata[mydata['location'].isin(['Europe','Asia','Africa','Oceania','North America','South America'])][['location','daily_people_vaccinated','total_boosters','new_cases']].to_csv('../DataSet/VaccinationBoosterContinent.csv')

In [12]:
mydata.sort_values(by='daily_people_vaccinated')

,daily_people_vaccinated,total_boosters,reproduction_rate,new_cases,location
index,,,,,
250,31868.433628,8.788956e+07,NaN,NaN,Western Sahara
71,127059.210774,8.228992e+07,NaN,225261.102287,European Union
128,127059.210774,8.228992e+07,NaN,108684.238927,Lower middle income
30,127059.210774,8.228992e+07,1.035810,37784.998972,Brazil
76,127059.210774,8.228992e+07,1.036001,48751.403471,France
...,...,...,...,...,...
199,127230.565674,8.114494e+07,NaN,NaN,Scotland
98,127273.071751,8.098951e+07,NaN,NaN,Hong Kong
130,127307.382752,8.243135e+07,NaN,NaN,Macao
166,127451.221320,8.055659e+07,NaN,NaN,Northern Ireland
165,136847.823964,6.752476e+07,NaN,NaN,Northern Cyprus

In [14]:
# mydata.to_csv('../DataSet/VaccinationBooster.csv')

In [17]:
filler=mydata.copy()
filler=filler.dropna()
filler

,daily_people_vaccinated,total_boosters,reproduction_rate,new_cases,location
index,,,,,
0,127189.625481,8.130399e+07,1.038169,216.185330,Afghanistan
2,127189.625481,8.130399e+07,1.005486,346.933980,Albania
3,127189.625481,8.130399e+07,0.977210,234.350081,Algeria
5,127189.625481,8.130399e+07,0.845974,53.771286,Andorra
6,127189.625481,8.130399e+07,0.684511,121.855695,Angola
...,...,...,...,...,...
247,127189.625481,8.130399e+07,1.018829,16460.854153,Vietnam
251,127059.210774,8.228992e+07,1.005727,874401.593823,World
252,127189.625481,8.130399e+07,0.659558,13.132871,Yemen
253,127189.625481,8.130399e+07,0.917023,406.656029,Zambia
254,127189.625481,8.130399e+07,0.945855,337.793092,Zimbabwe

In [22]:
# filler.sort_values(by='total_boosters')

filler[filler['location'].isin(['Russia','France','India'])][['location','daily_people_vaccinated','total_boosters','new_cases']].to_csv('VaccinationBoosterNotGood.csv')

In [55]:
vaccine_company['vaccine_list']=vaccine_company['vaccines'].apply(lambda x: x.split(','))

In [56]:
vaccine_set = [item for sublist in list(vaccine_company['vaccine_list'].values) for item in sublist]

# list(set(vaccine_set))

In [57]:
my_vaccine_list=list(set([x.strip() for x in vaccine_set]))

In [58]:
vac=vaccine_company.copy()
vac=vac[['location','vaccine_list']]
vac

              location                                       vaccine_list
0          Afghanistan  [CanSino,  Covaxin,  Johnson&Johnson,  Moderna...
1              Albania  [Oxford/AstraZeneca,  Pfizer/BioNTech,  Sinova...
2              Algeria  [Oxford/AstraZeneca,  Sinopharm/Beijing,  Sino...
3              Andorra   [Moderna,  Oxford/AstraZeneca,  Pfizer/BioNTech]
4               Angola                               [Oxford/AstraZeneca]
..                 ...                                                ...
218              Wales   [Moderna,  Oxford/AstraZeneca,  Pfizer/BioNTech]
219  Wallis and Futuna                                          [Moderna]
220              Yemen  [CanSino,  Covaxin,  Johnson&Johnson,  Moderna...
221             Zambia  [Johnson&Johnson,  Oxford/AstraZeneca,  Sinoph...
222           Zimbabwe  [Oxford/AstraZeneca,  Sinopharm/Beijing,  Sino...

[223 rows x 2 columns]

In [59]:
vac_map={}
for j in my_vaccine_list:
    v_list=[]
    for i in range(0,len(vac)):
         if(j in [x.strip() for x in vac.iloc[i,1]]):
             v_list.append(vac.iloc[i,0])
    vac_map[j]=v_list

In [60]:
vac_count={}
for i,j in vac_map.items():
    vac_count[i]=len(j)

In [61]:
sorted_list={k: v for k, v in sorted(vac_count.items(), key=lambda item: item[1],reverse=True)}

In [62]:
import heapq
top5=heapq.nlargest(5, sorted_list, key=sorted_list.get)

In [65]:
top5_dict={}

In [66]:
for i,j in sorted_list.items():
    if(i in top5):
        top5_dict[i]=j

In [67]:
top5_dict

{'Oxford/AstraZeneca': 185,
 'Pfizer/BioNTech': 165,
 'Moderna': 114,
 'Johnson&Johnson': 103,
 'Sinopharm/Beijing': 95}